  <!-- Footer  -->
<footer class="page-footer pt-0 mt-5 d-print-none">

    <!-- Copyright  -->
    <div class="footer-copyright py-3">
        <div class="container-fluid text-center">
            © @DateTime.Now.Year Copyrights : <a href="https://www.alampk.com/" target="_blank"> alampk.com </a>

        </div>
    </div>
    <!-- Copyright  -->

</footer>
<!-- Footer  -->