<section class="mt-md-1 pt-md-1 mb-3 pb-3">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card wow zoomInDown animated" style="visibility: visible; animation-name: zoomInDown;">

                <!-- Card Data -->
                <div class="admin-up">
                    <i class="fas fa-users bg-info mr-3 z-depth-2"></i>
                    <div class="data text-info">
                        <h4 class="font-weight-bold text-end">Users</h4>
                        <div class="text-end">Admins & Customers</div>
                    </div>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade p-0 pt-3">

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-small table-bordered">

                            <tbody> 
                                <tr>
                                    <th class="py-1 px-3">Customers</th>
                                    <td class="py-1 px-3">
                                        <span title="Active">10</span> / 
                                        <span title="Inactive">6</span>

                                    </td>
                                </tr>
                                <tr>
                                    <th class="py-1 px-3">Admins</th> 
                                    <td class="py-1 px-3">5</td>
                                </tr>
                                <tr>
                                    <th class="py-1 px-3">Total Users</th>
                                    <td class="py-1 px-3">21</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card wow slideInDown animated" style="visibility: visible; animation-name: slideInDown;">

                <!-- Card Data -->
                <div class="admin-up">
                    <i class="fas fa-file-check bg-adcs mr-3 z-depth-2"></i>
                    <div class="data text-adcs">
                        <h4 class="font-weight-bold text-end">Orders</h4>
                        <div class="text-end">by Status</div>
                    </div>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade p-0 pt-3">

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-small table-bordered">

                            <tbody>
                                
                                <tr>
                                    <th class="py-1 px-3">Pending Orders</th>
                                    <td class="py-1 px-3"><a href="/admin/orders/index/3">145</a></td>
                                </tr>
                                <tr>
                                    <th class="py-1 px-3">Closed Orders</th>
                                    <td class="py-1 px-3"><a href="/admin/orders/index/4">8645</a></td>
                                </tr>
                                <tr>
                                    <th class="py-1 px-3">Total Orders</th>
                                    <td class="py-1 px-3"><a href="/admin/orders">8930</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card wow zoomInDown animated" style="visibility: visible; animation-name: zoomInDown;">

                <!-- Card Data -->
                <div class="admin-up">
                    <i class="fas fa-file-contract grey darken-1 mr-3 z-depth-2"></i>
                    <div class="data text-grey">
                        <h4 class="font-weight-bold text-end">Orders</h4>
                        <div class="text-end">By Time</div>
                    </div>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade p-0 pt-3">

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-small table-bordered">
                            <tbody>
                                <tr>
                                    <th class="py-1 px-3">Today's requests</th>
                                    <td class="py-1 px-3"><a href="/admin/Orders?count=day">14</a></td>
                                </tr>
                                <tr>
                                    <th class="py-1 px-3">Last 7 days</th>
                                    <td class="py-1 px-3"><a href="/admin/Orders?count=week">187</a></td>
                                </tr>
                                <tr>
                                    <th class="py-1 px-3">Last 30 days</th>
                                    <td class="py-1 px-3"><a href="/admin/Orders?count=month">703</a></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Grid column -->



    </div>
    <!-- Grid row -->

</section>