@{
    ViewData["Title"] = "Admin Dashboard";
    //Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="card mb-3">
        <div class="card-body py-2"> 
            <h3 class="m-0">Admin Dashboard</h3>
        </div>
    </div>

  
    <partial name="_DashboardTopBoxes" />
    <div class="card">
        <div class="card-body">



            



        </div><!--.card-body-->
        <div class="card-footer"> 
            &nbsp;
        </div><!--.card-footer-->
    </div><!--.card-->
 

</div><!--.page-content-->
 

@section Styles{
    <link rel="stylesheet" href="~/css/dashboard.css" />
}